@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ########################### */
/* GLOBAL */
/* ########################### */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

:root{
    --accent:rgb(244,92,54);
    --accent2:rgb(189,56,22);
    --bg:#FFF;
    --text:#060606;
}

body{
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

section{
    padding: 50px 100px;
}

.btn{
    color: var(--bg);
    background: var(--accent);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.btn:hover{
    background: var(--accent2);
}

.section-heading{
    text-align: center;
    margin: 3rem 0;
}

.section-heading span{
    color: var(--accent);
    font-weight: 500;
}
.section-heading h2{
    font-size: clamp(25px, 4vw, 40px);
    
}

/* ########################### */
/* NAVIGATION */
/* ########################### */

nav{
    background: var(--bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

nav.active{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

nav .logo img{
    width: 40px;
}

nav .navigation{
    display: flex;
}

nav .navigation li{
    position: relative;
}

nav .navigation a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text);
    font-weight: 500;
}

nav .navigation a::after, nav .navigation a::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: width 0.2s ease-in-out;
}

nav .navigation a::after{
    top:-4px;
}

nav .navigation a::before{
    bottom:-4px;
}

nav .navigation a:hover::before,
nav .navigation a:hover::after, 
nav .navigation a.active::before, 
nav .navigation a.active::after{
    width: 100%;
}

#burger-menu{
    color: var(--text);
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#burger-menu:hover{
    color: var(--accent);
}

.inscription{
    font-weight: 500;
    padding: 10px 20px;
    color: var(--bg);
    background: var(--accent);
    border-radius: 7px;
    transition: 0.2S ease-in-out;
}

.inscription:hover{
    background: var(--accent2);
}

/* ########################### */
/* HOME */
/* ########################### */

.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: no-repeat center/cover url('./images/bg-home.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--bg);
}

.home h1{
    font-size: clamp(30px, 5vw, 80px);
    letter-spacing: 2px;
    color: var(--bg);
}

.home h1 span{
    color: var(--accent);
}

.app-store img{
    width: 150px;
    cursor: pointer;
}

.home-form form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 4rem;
    left: 100px;
    background: var(--bg);
    padding: 20px;
    border-radius: 7px;
    color: var(--text);
}

.home-form .input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}

.home-form .input-box span{
    font-weight: 500;
}

.home-form .input-box input{
    padding: 7px;
    background: #E2E2E2;
    border-radius: 7px;
    font-size: 1rem;
}

.home-form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    background: var(--accent);
    color: var(--bg);
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 7px;
    font-size: 1rem;
}

.home-form .btn:hover{
    background: var(--accent2);
}

/* ########################### */
/* VOITURE */
/* ########################### */

.cars-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.cars-container .box-car{
    text-align: center;
    padding: 20px;
    background: var(--bg);
    position: relative;
    transition: 0.2s ease-in-out;
}

.cars-container .box-car::after,.cars-container .box-car::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--accent);
    transition: width 0.2s ease-in-out, 0.2s ease-in-out;
    z-index: -1;
}

.cars-container .box-car::after{
    bottom: -0.2rem;
    right: -0.2rem;
}

.cars-container .box-car::before{
    top: -0.2rem;
    left: -0.2rem;
}

.cars-container .box-car:hover{
    background: #E2E2E2;
}

.cars-container .box-car:hover .bxr{
    color: var(--accent);
}

.cars-container .box-car:hover::after, .cars-container .box-car:hover::before{
    width: 100%;
    height: 100%;
}

.cars-container .box-car .bxr{
    font-size: 3rem;
}

.cars-container .box-car:hover::before{
    background: var(--accent2);
}

/* ########################### */
/* SERVICES*/
/* ########################### */

.services-container{
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.box{
    padding: 10px;
    border-radius: 7px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.2);
}

.box .box-img{
    width: 100%;
    height: 200px;
}   

.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
}

.box p{
    padding: 0 10px;
    background: var(--accent);
    width: 58px;
    border-radius: 7px;
    margin: 1rem 0 1rem;
    color: var(--bg);
}

.box h4{
    font-weight: 500;
}

.box h5{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--accent);
    margin: 0.3rem O 0.5rem;
}

.box h5 span{
    font-size: 0.8rem;
    font-weight: 500;
}

/* ########################### */
/* ABOUT */
/* ########################### */

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    width: 100%;
}

.about-content span{
    color: var(--accent);
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.about-content p{
    margin: 1rem 0;
}

/* ########################### */
/* REVIEWS */
/* ########################### */

.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
}

.box-rev{
    text-align: center;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
    border-bottom: 2px solid var(--accent);
    padding: 1rem;
}

.box-rev:hover{
    background: #E2E2E2;
}

.rev-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1rem auto;
}

.rev-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stars{
    margin-bottom: 1rem;
}

.stars .bxr{
    color: orange;
}

.box-rev h5{
    font-size: 1.2rem;
}

/* ########################### */
/* NEWSLETTER */
/* ########################### */

.newsletter{
    background: linear-gradient(to top right, var(--accent2), var(--accent));
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
}

.newsletter h2{
    color: var(--bg);
    font-size: 1.4rem;
    margin-top: 1rem;
}

.news-box{
    margin-top: 1rem;
    background: var(--bg);
    border-radius: 7px;
    padding: 4px 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.news-box input{
    flex: 1 1 auto;
    padding: 10px;
    border-radius: 7px;
    font-size: 1rem;
}

/* ########################### */
/* FOOTER */
/* ########################### */

footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    padding: 50px 20px;
    color: var(--bg);
    background: var(--text);
}

footer .social{
    margin-top: 0.5rem;
    display: flex;
    column-gap: 0.5rem;
}

footer .social .bx{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--accent);
    color: var(--bg);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    border-radius: 50%;
}

footer .social .bx:hover{
    background: var(--accent2);
}

footer h2{
    margin-bottom: 1rem;
    font-weight: 600;
}

footer a{
    color: var(--accent);
}

footer a:hover{
    color: var(--accent2);
}

footer img{
    width: 50px;
}

.copy{
    padding: 2rem 0;
    text-align: center;
    font-size: 13px;
    background: var(--bg);
}